version: '3.8'

services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: barber-app-backend
    ports:
      - "5001:5000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - PORT=5000
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
    networks:
      - barber-app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  barber-app-network:
    driver: bridge